<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group field">
    <%= f.label :code %><br>
    <%= f.text_field :code, class: "form-control"   %>
  </div>
  
  <div class="form-group field">
    <%= f.label :local_id %><br>
    <%= f.text_field :local_id, class: "form-control"   %>
  </div>
  
  <div class="form-group field">
    <%= f.label :device_category_id %><br>
    <%= f.text_field :device_category_id, class: "form-control"   %>
  </div>
   
  <button type="submit" class="btn btn-primary">Submit</button>

<%end%>
