<section class="jumbotron">
  <div class="container">
    <h1 class="display-3">Device</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <div class="float-right">
      <%= link_to 'New Device', new_device_path, class:"btn btn-success btn-lg" %>
    </div>
  </div>
</section>

<section class="container">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <table class="table table-hover table-dark">
      <thead>
        <tr class="d-flex">
          <th scope="col" class="col-3">Code</th>
          <th scope="col" class="col-4">Local</th>
          <th scope="col" class="col-3">Device Category</th>
          <th scope="col" class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @devices.each do |device| %>
        <tr class="d-flex">
          <td class="col-3"><%= device.code %></td>
          <td class="col-4"><%= device.local.room %></td>
          <td class="col-3"><%= device.device_category.name %></td>
          <td class="col-2">
            <div class="row">
              <%= link_to 'Show', device, :class => "btn btn-info btn-sm mx-2" %>
              <%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm mx-2"  %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>